<!-- {% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
              <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ object.profile.image.url }} "/>
                <h3 class="mr-2" href="#"> {{ object.get_full_name }} </h3>
                <h3 class="mr-2" href="#"> {{ object.username }} </h3>
                <h3 class="mr-2" href="#"> {{ object.email }} </h3>

            </div>
          </article>

        <article class="media content-section">
        <div class="media-body">
            <h3>My Blogs</h3>
            {% for record in blog_list %}
            <article class="media content-section">
                <div class="media-body">
                      <div class="article-metadata">
                        <h3 class="mr-2" href="#"> {{ record.title }} </h3>
                        <h3 class="mr-2" href="#"> {{ record.content }} </h3>
                    </div>
                  </article>
            {%endfor%}
            </div> -->
         