{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div class="float-right">

                    <form method="POST">
                        {% csrf_token %}

                        <button value="like_post" name="like" type="submit" class="btn">
                            <img title="Found this useful" src="{% static 'blog/like.svg' %}" style="width:40%"/>
                            <small class="ml-1">{{ posts.rating }}</small>
                        </button>
                    </form>
                </div>
                <h4 style="display:contents">
                    <a class="article-title" href="{% url 'post-detail' posts.id posts.title %}">
                        {{ posts.title }}
                    </a>
                </h4>

            </div>
            <div class="post-content mt-3">
                <p class="article-content post-content mt"> {{ posts.content }} </p>
                <div class="author-info">
                    <img class="rounded-circle article-img" src="{{ posts.author.profile.image.url }} "/>
                    <a href="{% url 'profile' posts.author.id posts.author.username %}">{{ posts.author }}</a>
                    <small class="text-muted">{{ posts.post_date|date:"N d, o" }}</small>
                    <span class="badge">{{ posts.college }}</span>
                </div>
                {% if posts.author == user or user.is_superuser %}
                    <div class="post-edit float-left mt-4 text-muted">
                        <a class="mt-1 mb-1"
                           href="{% url 'post-update' posts.id posts.title %}">Edit</a>
                        <a class=" mt-1 mb-1" href="{% url 'post-delete' posts.id posts.title %}">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
    {% if comments %}
        <h5 class="article-title"> {% if comments|length > 1 %} {{ comments|length }} Answers {% else %} 1
            Answer {% endif %}</h5>
        {% for comment in comments %}
            {% if comment.is_approved %}
                <article class="media content-section" style="border-color: green;
                border-width: medium">
            {% else %}
                <article class="media content-section">
            {% endif %}
        <div class="article-metadata">
            {% if comment.is_approved %}
                <img width="40px" src="{% static 'blog/solved_question.svg' %}" class="pull-right"
                     style="margin-top: 0">
            {% endif %}
            <p class="article-content">{{ comment.content }}</p>
            <div class="author-info">
                <img class="rounded-circle article-img" src="{{ posts.author.profile.image.url }} "/>
                <a href="{% url 'profile' posts.author.id posts.author.username %}">{{ posts.author }}</a>
                <small class="text-muted">{{ posts.post_date|date:"N d, o" }}</small>
                <span class="badge">{{ posts.college }}</span>
            </div>
            {% if comment.author == user or user.is_superuser %}
                <div class="post-edit float-right text-muted">

                    <a class="mt-1 mb-1"
                       href="{% url 'comment-update' comment.id %}">Edit</a>
                    <a class=" mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">Delete</a>
                    {% if user == comment.question.author and comment.question.is_answered is False %}
                        <form method="POST"
                              action={% url 'post-detail' comment.question.id comment.question.title comment.id %}>
                            {% csrf_token %}
                            <input style="background-image:
                                    url('{% static 'blog/solved_question.svg' %}');
                                    background-repeat: no-repeat;"
                                   type="submit" class="btn" value=" "
                                   name='question_solved'/>
                        </form>
                    {% endif %}
                </div>
                </div>
            {% endif %}
        </article>
        {% endfor %}
    {% endif %}

    <article class="media content-section">

        <div class="article-title w-100">
            <h4 class="article-title"> Your Answer: </h4>
            <div class="media-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button class="btn post-btn mb-4" name="add_comment" type="submit" value="add_comment"
                            href="#">Post your comment
                    </button>
                </form>
            </div>
        </div>

    </article>
{% endblock content %}

